*.o
*.lo
*.la
*.so
*.out
src/friso
src/*-testing
# lib/ #
CHANGES.txt
# vim #
*.swp
*.vim
*.viminfo
.libs/
.idea/

# About the autotools
m4/
*.m4
autom4te.cache/
config.h.in
*.log
*.status
config/
configure
Makefile
*.in
stamp-h1
config.h
*.pc
libtool
.deps
